<h1>The route: </h1>
<google-map start="vm.trip.start.location" end="vm.trip.end.location" show-page="true"></google-map>
<form ng-submit="vm.update()">
  <label class="label" for="title">Title of trip</label>
  <input type="text" class="input" id="title" name="title" ng-model="vm.trip.title">
  <label class="label" for="description">Description of trip</label>
  <input type="text" class="input" id="description" name="description" ng-model="vm.trip.description">
  <input type="text" google-autocomplete ng-model="vm.trip.start.description" location="vm.trip.start.location">
  <input type="text" google-autocomplete ng-model="vm.trip.end.description" location="vm.trip.end.location">
  <input type="submit" value="update">
</form>
