<h1>Create a map thing</h1>
<form ng-submit="vm.geocode()">
  <!-- <input type="text" name="" ng-model="vm.address">
  <input type="submit" value="Geocode"> -->
</form>



<google-map center="{ lat: 52.1, lng: -0.085 }"></google-map>
<!-- <google-map center="{ lat: 0, lng: 0}"></google-map> -->


<form ng-submit="vm.create()">
  <label class="label" for="title">Title</label>
  <input type="text" class="input" id="title" name="title" ng-model="vm.trip.title">
  <label class="label" for="description">Description</label>
  <input type="text" class="input" id="description" name="description" ng-model="vm.trip.description">

  <div class="file">
          <label class="file-label">
            <input class="file-input" type="file" ng-model="vm.newUser.image" upload-image>
            <span class="file-cta">
              <span class="file-icon">
                <i class="fa fa-upload"></i>
              </span>
              <span class="file-label">
                Choose a file…
              </span>
            </span>
          </label>
        </div>

  <input type="text" google-autocomplete ng-model="vm.trip.start.description" location="vm.trip.start.location">
  <input type="text" google-autocomplete ng-model="vm.trip.end.description" location="vm.trip.end.location">
  {{vm.trip}}

  <button ng-submit="calcRoute()">Route</button>

    <button type="submit" name="button">Add Trip</button>


</form>
