<!-- waypoints="vm.trip.waypoints" -->
<!-- To put in google map if we have time -->
<div class="field">
  <br>
  <br>
  <br>
  <label class="label">Find places of interest</label>
  <div class="control">
    <div class="select">
      <select google-places location="vm.trip.end.location">
        <option>Please choose an option</option>
        <option value="amusement_park">Amusement park</option>
        <option value="airport">Airport</option>
        <option value="aquarium">Aquarium</option>
        <option value="art_gallery">Art gallery</option>
        <option value="bar">Bar</option>
        <option value="cafe">Cafe</option>
        <option value="casino">Casino</option>
        <option value="convenience_store">Convenience store</option>
        <option value="department_store">Department store</option>
        <option value="gas_station">Petrol station</option>
        <option value="lodging">Accommodation</option>
        <option value="movie_theater">Cinema</option>
        <option value="restaurant">Restaurant</option>
        <option value="museum">Museum </option>
        <option value="nightclub">Nightclub</option>
        <option value="zoo">Zoo</option>
      </select>
    </div>
  </div>
</div>

<!-- <div>
  <p>Find places of intrest</p>
  <select google-places location="vm.trip.end.location">
    <option disabled selected>Please choose an option</option>

  </select>
</div> -->

<google-map start="vm.trip.start.location" end="vm.trip.end.location" show-page="true"></google-map>


<section class="section">
  <h2 class="title">{{ vm.trip.title}}</h2>
  <h3>Description: <em>{{ vm.trip.description }}</em></h3>
  <img ng-src="{{ vm.trip.image }}">

  <div>
    <button class="button is-small is-primary" ui-sref="tripsEdit({ id: vm.trip.id })">Edit trip</button>
    <button class="button is-small is-danger" ng-click="vm.delete()">Delete trip</button>
  </div>

<input type=text google-placesdirective ng-model="vm.trip.places" location="vm.trip.location">


  <div class="comments">
    <h2>Comments for trip</h2>
    <p ng-if="!vm.post.comments.length">0 comments</p>
    <ul class="comments__created">
      <li ng-repeat="comment in vm.trip.comments track by $index">
        <a ui-sref="usersShow({ id: comment.createdBy.id })"><strong>{{ comment.createdBy.username }}</strong></a> - {{ comment.text }}
        <button class="button" ng-click="vm.deleteComment(comment)" ng-if="main.isAuthenticated() && main.currentUserId === comment.createdBy.id">Delete comment</button>
      </li>
    </ul>
    <form ng-submit="vm.addComment()" ng-if="main.isAuthenticated()">
      <textarea ng-model="vm.newComment.text" placeholder="comment here..."></textarea>
      <button class="button button--full">Add comment</button>
    </form>
    </div>
</section>
