<section class="section">
  <div class="columns">
    <div class="column is-half is-offset-one-quarter">
      <form ng-submit="vm.update()">
        <div class="field">
          <p class="control">
            <label class="label" for="title">Title</label>
          </p>
          <input type="text" class="input" id="title" name="title" ng-model="vm.movie.title">
        </div>

        <div class="field">
          <p class="control">
            <label class="label" for="director">Director</label>
          </p>
          <input type="text" class="input" id="director" name="director" ng-model="vm.movie.director">
        </div>

        <div class="field">
          <p class="control">
            <label class="label" for="release">Release date</label>
          </p>
          <input type="date" class="input" id="release" name="release" ng-model="vm.movie.release">
        </div>

        <div class="field">
          <p class="control">
            <label class="label" for="poster">Poster URL</label>
          </p>
          <input type="text" class="input" id="poster" name="poster" ng-model="vm.movie.poster">
        </div>

        <div class="field">
          <p class="control">
            <label class="label" for="trailerId">Youtube URL</label>
          </p>
          <input type="text" class="input" id="trailerId" name="trailerId" ng-model="vm.movie.trailerId">
        </div>

        <div class="field">
          <p class="control">
            <input type="submit" class="button is-primary is-fullwidth" value="Update">
          </p>
        </div>
      </form>
    </div>
  </div>
</section>
