<form ng-submit="vm.geocode()">
  <input type="text" name="" ng-model="vm.address">
  <input type="submit" value="Geocode">
</form>

<google-map center="{ lat: 52.1, lng: -0.085 }"></google-map>

<html ng-app="roadTrippers">
<section class="section">
  <h2 class="title">{{ vm.trip.title}}</h2>
  <h3>Description: <em>{{ vm.trip.description }}</em></h3>
  <img ng-src="{{ vm.trip.image }}">

  <div>
    <button class="button is-small is-primary" ui-sref="tripsEdit({ id: vm.trip.id })">Edit</button>
    <button class="button is-small is-danger" ng-click="vm.delete()">Delete</button>
  </div>

  <div class="comments">

    <h2>Comments</h2>

    <p ng-if="!vm.post.comments.length">0 comments</p>

    <ul class="comments__created">
      <li ng-repeat="comment in vm.trip.comments track by $index">
        <a ui-sref="usersShow({ id: comment.createdBy.id })"><strong>{{ comment.createdBy.username }}</strong></a> - {{ comment.text }}
        <p>{{ main.currentUserId }}{{ comment.createdBy.id }}</p>
        <button class="button" ng-click="vm.deleteComment(comment)" ng-if="main.isAuthenticated() && main.currentUserId === comment.createdBy.id"   >Delete</button>
      </li>
    </ul>

    <form ng-submit="vm.addComment()" ng-if="main.isAuthenticated()">
      <label>Add comment</label>
      <textarea ng-model="vm.newComment.text"></textarea>
      <button class="button button--full">Comment</button>
    </form>

    </div>
</section>
<google-map center="{ lat: 52.1, lng: -0.085 }"></google-map>
<body ng-controller="GeoCodeCtrl as geo">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Geocoding App</h1>
        <form ng-submit="geo.geocode()">
          <label type="text" value="Enter a postcode">Enter a postcode</label>
          <br>
          <input type="text" ng-model="geo.address">
          <button type="submit"></button>
        </form>
        <p>Results: {{geo.result.formatted_address}}</p>
        <p class="error" ng-if="geo.status == 1">Invalid Postcode</p>
      </div>
    </div>
  </div>
</section>
