<!-- testing123 -->

<section class="mapStuff">

  <google-map start="vm.trip.start.location" end="vm.trip.end.location" waypoints="vm.trip.waypoints" show-page="true"></google-map>
  <form name="placesForm">
    <div class="field placesOfInterest">
      <div class="interestLabel">
        <label class="label">Find places of interest</label>
      </div>
      <div class="control interestSelect">
        <div class="select">
          <select ng-model="vm.interest" >
            <option value="amusement_park">Amusement park</option>
            <option value="airport">Airport</option>
            <option value="aquarium">Aquarium</option>
            <option value="art_gallery">Art gallery</option>
            <option value="bar">Bar</option>
            <option value="cafe">Cafe</option>
            <option value="casino">Casino</option>
            <option value="convenience_store">Convenience store</option>
            <option value="department_store">Department store</option>
            <option value="gas_station">Petrol station</option>
            <option value="lodging">Accommodation</option>
            <option value="movie_theater">Cinema</option>
            <option value="restaurant">Restaurant</option>
            <option value="museum">Museum </option>
            <option value="nightclub">Nightclub</option>
            <option value="zoo">Zoo</option>
          </select>
        </div>

        <div class="control markerSelect">
          <div class="select">
            <select ng-model="vm.place" ng-options="location.letter for location in vm.locations">
            </select>
          </div>
          <button google-places class="button is-medium is-primary"location="vm.place" type="vm.interest" map="vm.map">Search</button>

        </div>

      </div>
    </div>
  </form>
</section>


  <div>
    <section class="section">
      <h2 class="title">{{ vm.trip.title}}</h2>
      <h3>Description: <em>{{ vm.trip.description }}</em></h3>
      <a href="https://roadtrippers.com/" class="link">For a better website please visit</a>
      <div class="userButtons">

      <button class="button is-large is-primary userButton" ng-click="vm.openUserModal()">Add Users</button>
      <div>
          <!--USER-MODAL-->

          <form ng-submit="">
            <ul ng-repeat="user in vm.trip.users">
              <input type="hidden" ng-model="vm.trip.users" ng-value="user.id">

            </ul>
            <button class="button btn-primary saveUsersButton" type="submit">Save users</button>
          </form>
          <div class="modal" ng-class="{'is-active': vm.userModalOpen}">
            <div class="modal-background"></div>
            <div class="modal-card">
              <header class="modal-card-head">
                <p class="modal-card-title">Users</p>
                <button class="delete" ng-click="vm.closeUserModal()" aria-label="close"></button>
              </header>
              <section class="modal-card-body">
                <div ng-repeat="user in vm.users">
                  <div>
                    <form ng-submit="addUser(user)" class="userForm">
                      <p>{{ user.username }}</p><img class="userProfilePic" src="{{user.picture}}">
                        <button class="button is-small is-primary" ng-click="vm.addUser(user)">Add User</button>
                        <button class="button is-small is-primary" ng-click="vm.removeUser(user)">Delete User</button>
                    </form>
                  </div>
                </div>



            </section>
            <footer class="userModalFooter">
              <div class="modal-card-foot">
                <ul ng-repeat="user in vm.trip.users">
                  <li class="userModalUsers">{{user.username}}</li>
                </ul>
                <button ng-click="vm.saveUsers()" class="button is-primary userSubmitButton">Save users</button>
              </div>
            </footer>
            </div>
          </div>
        </div>

      </div>
      <div class="albumButtons">

      <!--ALBUM-MODAL-->

      <button class="button is-large is-primary albumButton" ng-click="vm.openAlbumModal()">View Album</button>
      <div class="modal" ng-class="{'is-active': vm.albumModalOpen}">
        <div class="modal-background"></div>
        <div class="modal-card">
          <header class="modal-card-head">
            <p class="modal-card-title">{{vm.trip.title}} Album</p>
            <button class="delete" ng-click="vm.closeAlbumModal()" aria-label="close"></button>
          </header>

          <section class="modal-card-body">
            <div ng-repeat="image in vm.trip.images" class="albumDivs">
              <div class="card albumCard">

                <div class="card-image" style="background-image: url({{image}})">

                </div>
              </div>
            </div>
          </section>
          <footer class="modal-card-foot">
          </footer>
        </div>
      </div>



            <div class="file">
              <label class="file-label">
                <input class="file-input" type="file" ng-model="vm.trip.image" upload-image>
                <span class="file-cta">
                  <span class="file-icon">
                    <i class="fa fa-upload"></i>
                  </span>
                  <span class="file-label">Add new Image</span>


                </span>
              </label>
            </div>
          <form ng-submit="vm.savePic()">
            <button type="submit">Save Picture</button>

            <img class="imagePreview" src="{{vm.trip.image}}">
          </form>
      </div>
    </section>
  </div>

  <div>
    <button class="button is-small is-danger" ng-if="currentUserId === vm.trip.createdBy" ng-click="vm.delete()">Delete trip</button>
  </div>



<section class="comments">

  <div class="field">
    <label class="label">Comments for trip</label>
    <p ng-if="!vm.post.comments.length">0 comments</p>
    <ul class="comments__created">
      <li ng-repeat="comment in vm.trip.comments track by $index">
        <a ui-sref="usersShow({ id: comment.createdBy.id })"><strong>{{ comment.createdBy.username }}</strong></a> - {{ comment.text }}
        <button class="delete" ng-click="vm.deleteComment(comment)" ng-if="main.isAuthenticated() && main.currentUserId === comment.createdBy.id">Delete comment</button>
      </li>
    </ul>
    <form ng-submit="vm.addComment()" ng-if="main.isAuthenticated()">
      <textarea class="textarea" ng-model="vm.newComment.text" placeholder="comment here..."></textarea>
      <button class="button">Add comment</button>
    </form>
  </div>
</section>
