<!-- waypoints="vm.trip.waypoints" -->
<!-- To put in google map if we have time -->
<section class="mapStuff">
  <google-map start="vm.trip.start.location" end="vm.trip.end.location" waypoints="vm.trip.waypoints" show-page="true"></google-map>
  <form name="placesForm">
    <div class="field placesOfInterest">
      <div class="interestLabel">
        <label class="label">Find places of interest</label>
      </div>
        <div class="control interestSelect">
          <div class="select">
            <select ng-model="vm.interest" >
              <option value="amusement_park">Amusement park</option>
              <option value="airport">Airport</option>
              <option value="aquarium">Aquarium</option>
              <option value="art_gallery">Art gallery</option>
              <option value="bar">Bar</option>
              <option value="cafe">Cafe</option>
              <option value="casino">Casino</option>
              <option value="convenience_store">Convenience store</option>
              <option value="department_store">Department store</option>
              <option value="gas_station">Petrol station</option>
              <option value="lodging">Accommodation</option>
              <option value="movie_theater">Cinema</option>
              <option value="restaurant">Restaurant</option>
              <option value="museum">Museum </option>
              <option value="nightclub">Nightclub</option>
              <option value="zoo">Zoo</option>
            </select>
          </div>
        </div>
        <div class="control markerSelect">
          <div class="select">
            <select ng-model="vm.place" ng-options="location.letter for location in vm.locations">
            </select>
          </div>
          <button google-places location="vm.place" type="vm.interest"></button>
        </div>
    </div>
  </form>
</section>

  </form>
</section>
  </div>

</section>

</section>
<div class="columms">
<div class="column is-three-quarters">
  <section class="section">
    <h2 class="title">{{ vm.trip.title}}</h2>
    <h3>Description: <em>{{ vm.trip.description }}</em></h3>

  </section>
</div>
<!-- <div>
  <p>Find places of intrest</p>
  <select google-places location="vm.trip.end.location">
    <option disabled selected>Please choose an option</option>

  </select>
</div> -->

<section class="section">
<google-map start="vm.trip.start.location" end="vm.trip.end.location" waypoints="vm.trip.waypoints" show-page="true"></google-map>
</section>
<div class="column">
  <button class="button is-small is-primary" ui-sref="tripsEdit({ id: vm.trip.id })">Edit trip</button>
  <button class="button is-small is-danger" ng-click="vm.delete()">Delete trip</button>
</div>

</div>
</div>


<div class="column is-one-quarter">
    <!--USER-MODAL-->
    <button class="button is-small is-primary" ng-click="vm.openUserModal()">Add Users</button>
    <form ng-submit="vm.saveUsers()">
      <ul ng-repeat="user in vm.trip.users">
        <input type="hidden" ng-model="vm.trip.users" ng-value="user.id">
      </ul>
      <input type="submit" value="Save changes">
    </form>
    <div class="modal" ng-class="{'is-active': vm.userModalOpen}">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Users</p>
          <button class="delete" ng-click="vm.closeUserModal()" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
          <div ng-repeat="user in vm.users">
            <div>
              <form ng-submit="addUser(user)">
                <p>{{ user.username }}</p><img class="userProfilePic" src="{{user.picture}}">
                  <button class="button is-small is-primary" ng-click="vm.addUser(user)">Add User</button>
                  <button class="button is-small is-primary" ng-click="vm.removeUser(user)">Delete User</button>
              </form>
            </div>
          </div>
        </section>
        <div class="modal-card-foot">
          <ul ng-repeat="user in vm.trip.users">
            <li class="userModalUsers">{{user.username}}</li>
          </ul>
          <!-- <button class="button is-success userModalButton">Save changes</button> -->
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>

    <!--ALBUM-MODAL-->

    <button class="button is-small is-primary" ng-click="vm.openAlbumModal()">View Album</button>
    <div class="modal" ng-class="{'is-active': vm.albumModalOpen}">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">{{vm.trip.title}} Album</p>
          <button class="delete" ng-click="vm.closeAlbumModal()" aria-label="close"></button>
        </header>

        <section class="modal-card-body columns">
          <div ng-repeat="image in vm.trip.images">
            <div class="card column albumCard">

              <div class="card-image">
                  <img src="{{image}}" class="albumImages">
              </div>
            </div>
            </div>
            </section>
            <footer class="modal-card-foot">
              <div class="card">
                <div class="card-content">

                </div>
              </div>
            </footer>
      </div>
    </div>

    <div class="columns">
    <div class="column">
    <form ng-submit="vm.savePic()">
        <div class="file">
          <label class="file-label">
            <input class="file-input" type="file" ng-model="vm.trip.images" upload-image>
            <span class="file-cta">
              <span class="file-icon">
                <i class="fa fa-upload"></i>
              </span>
              <span class="file-label">Add new Image</span>
            </span>
          </label>
        </div>
        <!-- <img src="vm.trip.images">
      <input type="submit" value="Save changes"> -->
    </form>
  </div>


<div class="column">
<!-- <input type=text google-placesdirective ng-model="vm.trip.places" location="vm.trip.location"> -->


<div class="field">
  <label class="label">Comments for trip</label>
  <p ng-if="!vm.post.comments.length">0 comments</p>
  <ul class="comments__created">
    <li ng-repeat="comment in vm.trip.comments track by $index">
      <a ui-sref="usersShow({ id: comment.createdBy.id })"><strong>{{ comment.createdBy.username }}</strong></a> - {{ comment.text }}
      <button class="delete is-large" ng-click="vm.deleteComment(comment)" ng-if="main.isAuthenticated() && main.currentUserId === comment.createdBy.id">Delete comment</button>
    </li>
  </ul>
  <form ng-submit="vm.addComment()" ng-if="main.isAuthenticated()">
    <textarea class="textarea" ng-model="vm.newComment.text" placeholder="comment here..."></textarea>
    <button class="button button is-link">Add comment</button>
  </form>
</div>


</section>
</div>
</div>
