<ui-carousel
  slides="main.slides"
  slides-to-show="1"
  slides-to-scroll="1"
  initial-slide="1"
  autoplay="true"
  autoplay-speed="3500"
  dots="false"
  arrows="false">

  <carousel-item>
    <div class="carousel-slide">
      <div class="carousel-image" style="background-image: url('{{ item.image }}')"></div>
    </div>
  </carousel-item>

</ui-carousel>

<h3 class="intro">Welcome to RoadTripper.<br>Here you can view and create a RoadTrip
  to invite your friends on to join you in your adventures. Along the way you can map
  points of interest, stops along your route and add images to an album to remember forever!
  You can also comment on your friends journeys!<br>So what are you waiting for? get RoadTripping! #WHERESYOURLOGO</h3>

  <img class="logoHome" src="images/Mountain_Logo.svg">
