<!DOCTYPE html>
<html ng-app="roadTrippers">
<script defer src="https://use.fontawesome.com/releases/v5.0.0/js/all.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">


<head>
  <title>WDI Group Project</title>
  <base href="/">
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDFdykQIbI6dMLCGyov2befnGnaHEtKA5w"></script>
  <!-- inject:js -->
  <!-- endinject -->
  <!-- inject:css -->
  <!-- endinject -->
</head>
<body ng-controller="MainCtrl as main" ng-class="main.pageName">

  <nav class="navbar is-primary">
    <div class="navbar-brand">
      <a class="navbar-item" ui-sref="/">
        <i class="fas fa-road" height="100"></i>
      </a>
      <div class="navbar-burger burger nav-toggle" ng-class="{ 'is-active': main.menuIsOpen }" ng-click="main.menuIsOpen = !main.menuIsOpen" data-target="navbarExampleTransparentExample">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div id="navbarExampleTransparentExample" class="navbar-menu" ng-class="{ 'is-active': main.menuIsOpen}">
      <div class="navbar-start">

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="/documentation/overview/start/">
            Trips
          </a>
          <div class="navbar-dropdown is-boxed">
            <a class="navbar-item" href="/trips/new">
              Add a trip
            </a>
            <a class="navbar-item" href="/trips">
              See all trips
            </a>
          </div>
        </div>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <div class="field is-grouped">
            <p class="control">
              <a class="button is-primary" ng-if="!main.isAuthenticated()" ui-sref="register" ui-sref-active="active">
                <span class="icon">
                  <i class="fas fa-user-plus"></i>
                </span>
                <span>register</span>
              </a>
            </p>
            <p class="control">
              <a class="button is-primary" ng-if="!main.isAuthenticated()" ui-sref="login" ui-sref-active="active">
                <span class="icon">
                  <i class="fas fa-sign-in-alt"></i>
                </span>
                <span>login</span>
              </a>
            </p>
            <p class="control">
              <a class="button is-primary" ng-click="main.logout()" ng-if="main.isAuthenticated()" ui-sref="login">
                <span class="icon">
                  <i class="fas fa-sign-out-alt"></i>
                </span>
                <span>logout</span>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </nav>



  <main ui-view>
  </main>
</body>
</html>
