.mapStuff {
  width: 50%;
  float: right;
  overflow: hidden;
  padding: 1% 1% 1% 1%;
  margin-right: 1%;
  margin-top: 0.5%;
  text-align: left;
  margin-left: 1%;
  background-color: #ECF1F9;
  border-radius: 5px;
  .google-map {
    height: 500px;
    width: 100% !important;
    display: inline-block;
    border: 1px solid grey;
  }
  .placesOfInterest {
    display: inline-block;
    clear: right;
    .interestsLabel {
      display: inline-block;
      margin-bottom: 0 !important;
      font-size: 20px;
      vertical-align: middle;
    }
    .interestSelect {
      display: inline-block;
    }
  }

}

.section {
  width: 50%;
}
.userModalUsers {
  padding-right: 3px;
}

.userModal {
  display: inline-block;
}

.userModalButton {
  float: right !important;
}

.albumDivs {
  width: 50%;
}

.userModalFooter {
  height: 20%;
  width: 100%;
  display: inline-block;
  .userSubmitButton {
    float: right;
  }
  ul {
    display: inline-block;
    li {
      display: inline-block;
    }
  }
}

.userForm {
  width: 50%;
}

.link{
  vertical-align: top;
}
.userButtons {
  margin-top: 3.5%;
  display: inline-block;
  width: 40%;
  float: left;
  .userButton {
    margin-bottom: 1%;
  }
}

.albumButtons {
  width: 40%;
  display: inline-block;
}

.modal-card-body {
  margin-bottom: 0 !important;
  display: block;
  vertical-align: top;
  div {
    display: inline-block;
  }
  .card-image {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}


.albumImages {
  height: 100%;
  width: 100%;
}

.albumCard {
  display: inline-block;
  height: 200px;
  width: 100%;
}
.userButton {
  display: inline-block;
}

.albumButton {
  display: inline-block;
}
.file {
  margin-top: 1%;
  display: inline-block;

}

.buttons {
  vertical-align: top;


}
.imagePreview {
  max-height: 100px;
  display: block;
}


  .comments {
    display: block;
    margin-bottom: 20px;
    margin-top: 4%;
    margin-left: 2%;
    margin-right: 2%;
    text-align: left;
    float: left;
    clear: left;
    width: 40%;
    .field {
    textarea {
      height: 5% !important;
      width: 60% !important;
    }
    .textarea {
      height: 5% !important;
      width: 60% !important;
    }
  }

  }
