@import "indexPage";
@import "showPage";



.searchbar {
  height: 5px;
  padding-bottom: 15px;
}

.carousel-image {
  height: 350px;
  background-size: cover;
  background-position: center;
}

html {
  background: #94afcc;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #556270, #94afcc);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #556270, #94afcc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



}



.intro {
  color: white;
}

.modal-card {
  width: 80%;
  height: 70%;

}



.userProfilePic {
  height: 50px;
}

.navbar {
  background: #4ECDC4;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #556270, #4ECDC4);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #556270, #4ECDC4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-bottom: 2px solid black;
}

.card {
  border: 1px solid black;
  border-radius: 5px;
  background: #ACB4C5;
  padding: 50px;
  margin-top: 60px;

}
